---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Xbox">
	<div class="container">
		<div class="wrapper">
			<div class="box img1">img1</div>
			<div class="box img2">img2</div>
			<div class="box img3">img3</div>
			<div class="box img4">img4</div>
			<div class="box img5">img5</div>
			<div class="box img6">img6</div>
			<div class="box img7">img7</div>
			<div class="box img8">img8</div>
			<div class="box img9">img9</div>
			<div class="box img10">img10</div>
		</div>
	</div>
</Layout>
<footer class="footer">
	<div class="col1">
		<h3>Column 1</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus massa.</p>
	</div>
	<div class="col2">
		<h3>Column 2</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus massa.</p>
	</div>
	<div class="col3">
		<h3>Column 3</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus massa.</p>
	</div>
	<div class="col4">
		<h3>Column 4</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus massa.</p>
	</div>
</footer>
<style>
	.wrapper{
		display: grid;
		grid-template-rows: 120px 120px 120px 120px;
		grid-template-areas:
		"img1 img1 img2 img3"
		"img1 img1 img6 img6"
		"img4 img5 img6 img6"
		"img7 img8 img9 img10" ;
	}
	.box {
		display: flex;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		color: white;
	}
	.img1 {
		grid-area: img1;
		background: orange;
	}
	.img2 {
		grid-area: img2;
		background: rgb(106, 236, 145);
	}
	.img3 {
		grid-area: img3;
		background: rgb(139, 37, 6);
	}
	.img4 {
		grid-area: img4;
		background: rgb(97, 81, 243);
	}
	.img5 {
		grid-area: img5;
		background: rgb(160, 17, 105);
	}
	.img6 {
		grid-area: img6;
		background: rgb(162, 31, 202);
	}
	.img7 {
		grid-area: img7;
		background: rgb(13, 186, 230);
	}
	.img8 {
		grid-area: img8;
		background: rgb(3, 121, 72);
	}
	.img9 {
		grid-area: img9;
		background: rgb(217, 241, 241);
	}
	.img10 {
		grid-area: img10;
		background: rgb(73, 60, 34);
	}
	.footer {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			grid-template-areas: 
			"col1 col2 col3 col4 col0 col0 col0 col0";
			background-color: #f8f9fa;
			padding: 20px;
			justify-content: center;
		}

		.col1 {
			grid-area: col1;
			text-align: left;
			margin-right: 10px;
		}

		.col2 {
			grid-area: col2;
			text-align: left;
			margin-right: 10px;
		}

		.col3 {
			grid-area: col3;
			text-align: left;
			margin-right: 10px;
		}

		.col4 {
			grid-area: col4;
			text-align: left;
			margin-right: 10px;
		}
</style>
